/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: rgb(60, 110, 192);
}

div#note-card {
     width: 1100px;
     height: 600px;
     margin: 100px auto;
     background-color: white;
     box-shadow: 10px 10px 50px rgb(26, 50, 90);
}

header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;

     box-shadow: 0px 2px 5px grey;
}

div#title-div {
     margin-left: -640px;
}

h1 {
     font-size: 16px;
     font-family: Verdana, sans-serif;
     font-weight: 400;
     margin: 0;
     color: rgb(78, 77, 77);
}

span {
     font-size: 12px;
     color: lightslategray;
}

/* Home icon */
svg {
     width: 35px;
     height: 35px;
     background: transparent;
     fill: lightslategray;
}

svg:hover {
     fill: black;
     cursor: pointer;
}

input {
     border: 1px solid transparent;
     background-color: transparent;
     color: rgb(104, 103, 103);
     font-size: 14px;
}

input:hover {
     color: black;
     border-bottom: 1px solid black;
}

/* Note title */
section#sec1 {
     display: flex;
     height: 545px;
     width: 100%;
     padding: 10px 10px 0 10px;
     background-color: rgb(245, 245, 245);
}

section#nav-sec {
     margin-right: 5px;
}

section {
     height: 100px;
     width: 25%;
     /* border: 1px solid green; */
}

main {
     font-size: 14px;
     width: 75%;
     /* box-shadow: -1px -1px 5px gray; */
     padding: 20px;
     padding-right: 170px;
}

main, section#nav-sec {
     height: 534px;
     background-color: white;
}

div#might-div {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-right: -150px;
}

#svg-div > svg {
     height: 20px;
     width: 20px;
     display: flex;
     justify-content: space-around;
     margin: 8px;
}

#svg-div > svg {
     fill:rgb(132, 132, 132);
}

#svg-div > svg:hover {
     fill:rgb(2, 2, 2);
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
